
@{
    ViewBag.Title = "修改图文";
    Layout = null;
}
@model List<CareCenter2.DB.tb_Context>
<!--layui -->
<link href="/Content/layui/css/layui.css" rel="stylesheet" />
<!--layui -->
<div class="main" style="margin-top: 0">
    @*<h2>需求发布</h2>*@
    <div class="about-btn" style="margin:0 6%;">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend>添加信息</legend>
        </fieldset>
        <form class="layui-form layui-form-pane" action="" lay-filter="example">
            <div class="layui-form-item">
                <label class="layui-form-label">标题</label>
                <div class="layui-input-block">
                    <input type="hidden" name="ContextID" value="@Model[0].ContextID" autocomplete="off" class="layui-input">
                    <input type="text" name="Title" lay-verify="required" value="@Model[0].Title" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">简介</label>
                <div class="layui-input-block">
                    <input type="text" name="Explain" value="@Model[0].Explain" lay-verify="" autocomplete="off" class="layui-input">
                </div>
            </div>           
            <div class="layui-form-item">
                <label class="layui-form-label">类别</label>
                <div class="layui-input-block">
                    <select name="Type" id="Type" lay-filter="aihao">
                        <option value=""></option>
                        <option value="公司团队">公司团队</option>
                        <option value="工作意义">工作意义</option>
                        <option value="申请应用">申请应用</option>
                        <option value="你想知道">你想知道</option>
                        <option value="注意事项">注意事项</option>
                        @*<option value="精彩瞬间">精彩瞬间</option>*@
                        <option value="关于我们">关于我们</option>
                    </select>
                </div>
            </div>

            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">描述</label>
                <div class="layui-input-block" style="background:#fff;">
                    <textarea class="layui-textarea layui-hide" name="content" lay-verify="content" id="Article_editor" autocomplete="off">@Model[0].Intro</textarea>

                </div>
            </div>
            <div class="layui-form-item">
                <button class="layui-btn" lay-submit="" id="tijiaoData" lay-filter="save">修改信息</button>
            </div>
        </form>
    </div>
</div>

<script src="/Scripts/jquery-1.10.2.min.js"></script>
<script src="/Content/layui/layui.js"></script>
<script>
    var type = "@(Model[0].Type)";

    //发布需求
    layui.use(['form', 'layedit', 'layer', 'upload','laydate'], function () {
        var $ = layui.jquery
            , upload = layui.upload
            , form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit
            , laydate = layui.laydate;

        //表单初始赋值
        form.val('example', {

            "Type": type

        });

        //日期
        laydate.render({
            elem: '#date'
            , type: 'year'
        });
        //插入图片接口
        layedit.set({
            uploadImage: {
                url: '/MemberM/UploadImg/' //接口url
                , type: 'post' //默认post
                , xhr: xhrOnProgress
                , progress: function (value) {//上传进度回调 value进度值
                    element.progress('demoeidt', value + '%')//设置页面进度条
                }
            }
        });

        //创建一个编辑器
        var editIndex = layedit.build('Article_editor', {
            tool: [
                'strong' //加粗
                , 'italic' //斜体
                , 'underline' //下划线
                , 'del' //删除线
                , '|' //分割线
                , 'left' //左对齐
                , 'center' //居中对齐
                , 'right' //右对齐
                , 'image' //插入图片
            ]
        });

        //自定义验证规则
        form.verify({
            content: function () {
                var value = layedit.getContent(editIndex);
                if (value == "") {

                    return '内容不能为空!';
                }
                layedit.sync(editIndex);//用于同步编辑器内容到textarea（一般用于异步提交）
            }
        });
        //监听提交
        form.on('submit(save)', function (data) {
            //form.render();
            layedit.sync(editIndex);//需要再提交之前同步数据
            $.ajax({
                type: "POST",
                url: "/UploadFile/EidtContextData/",
                data: {
                    "ContextID": data.field.ContextID,
                    "Title": data.field.Title,
                    "Explain": data.field.Explain,
                    "Type": $("#Type option:selected").text(),
                    "Intro": data.field.content

                   
                },
                dataType: "json",
                success: function (res) {

                    if (res.Statu == 1) {
                        parent.layer.alert(res.Msg,  function (index) {
                            parent.location.href = res.BackUrl;
                            layer.close(index)
                        });

                    } else {
                        layer.alert(res.Msg);
                        //layer.closrAll();
                    }
                }
            });
            return false;
        });

    });

    //上传图片/视频
    layui.use(['form', 'layedit', 'layer', 'upload', 'element'], function () {
        var form = layui.form
            , upload = layui.upload
            , layer = layui.layer
            , layedit = layui.layedit
            , element = layui.element;
        //单个图片上传
        var uploadInst = upload.render({
            elem: '#ImgList'
            , url: '/MemberM/UploadImgData/'
            , method: 'POST'
            , accept: 'images'
            , xhr: xhrOnProgress
            , progress: function (value) {//上传进度回调 value进度值
                element.progress('demoimg', value + '%')//设置页面进度条
            }
            //, bindAction: '#testListAction'
            , choose: function (obj) {

                obj.preview(function (index, file, result) {

                    $('#demo1').attr('src', result); //图片链接（base64）
                });
            }
            , data: {

            }
            , before: function (obj) {

            }
            , done: function (res, index, upload) {

                if (res.Statu == 1) { //上传成功

                    //parent.location.href = res.BackUrl;
                    $("#demo1").css("display", "block");
                    $("#jiahao").css("display", "none");
                    $('#demo1').attr('src', res.Data);
                    $('#ImgUrl').val(res.Data);
                    layer.closeAll();
                } else {
                    layer.alert(res.Msg);
                    return false;

                }

            }
            , error: function (index, upload) {

                var demoText = $('#errorImg');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</ a>');
                demoText.find('.demo-reload').on('click', function () {
                    uploadInst.upload();
                });
            }
        });
        //视频
        var uploadVideo = upload.render({
            elem: '#videoList'
            , url: '/MemberM/UploadVideoData/'
            , method: 'POST'
            , accept: 'video'
           // , exts: 'mp4'
            , xhr: xhrOnProgress
            , progress: function (value) {//上传进度回调 value进度值
                element.progress('videoProgress', value + '%')//设置页面进度条
            }
            //, bindAction: '#testListAction'
            , choose: function (obj) {

                obj.preview(function (index, file, result) {

                    $('#demo2').attr('src', result); //图片链接（base64）
                });
            }
            , data: {

            }
            , before: function (obj) {

            }
            , done: function (res, index, upload) {

                if (res.Statu == 1) { //上传成功

                    //parent.location.href = res.BackUrl;
                    $("#demo2").css("display", "block");
                    $("#shipin").css("display", "none");
                    $('#demo2').attr('src', res.Data);
                    $('#VideoUrl').val(res.Data);
                    layer.closeAll();
                } else {
                    layer.alert(res.Msg);
                    return false;

                }

            }
            , error: function (index, upload) {

                var demoText = $('#errorVideo');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</ a>');
                demoText.find('.demo-reload').on('click', function () {
                    uploadVideo.upload();
                });
            }
        });

    });

    //创建监听函数
    var xhrOnProgress = function (fun) {
        xhrOnProgress.onprogress = fun; //绑定监听
        //使用闭包实现监听绑
        return function () {
            //通过$.ajaxSettings.xhr();获得XMLHttpRequest对象
            var xhr = $.ajaxSettings.xhr();
            //判断监听函数是否为函数
            if (typeof xhrOnProgress.onprogress !== 'function')
                return xhr;
            //如果有监听函数并且xhr对象支持绑定时就把监听函数绑定上去
            if (xhrOnProgress.onprogress && xhr.upload) {
                xhr.upload.onprogress = xhrOnProgress.onprogress;
            }
            return xhr;
        }
    }

</script>

